body {
  background-color: lightcoral;
  text-align: center;
}
.level-btn {
  width: 200px;
  height: 30px;
  cursor: pointer;
}
.smiley {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: none;
  border: none;
  outline-style: none;
  cursor: pointer;
}
.timer-and-flags {
  float: left;
  margin-left: 20px;
  text-align: left;
  position: fixed;
}
.timer, .flags-counter {
  font-family: "Orbitron", sans-serif;
  color: #000000;
  font-size: 2rem;
  margin: 15px 0 5px 0;
  text-align: center;
}
.board-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
table,
.cell {
  border: 1px solid black;
  border-collapse: collapse;
}
.cell {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 1.5em;
  background-color: rgb(190, 190, 190);
}
.cell-cover {
  background-color: rgb(85, 83, 83);
  box-shadow: inset -2px -2px 2px 1px #343434;
}
