body {
  background-color: lightcoral;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.level-btn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0 5px 0 5px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.smiley {
  width: 60px;
  height: 60px;
  font-size: 40px;
  text-align: center;
  display: block;
  margin: 20px auto 0 auto;
  padding: 0;
  border: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: none;
}
.timer-and-flags {
  font-family: "Orbitron", sans-serif;
  text-align: center;
}
.timer {
  color: #000000;
  font-size: 1.7rem;
  margin: 10px 0 5px 0;
  text-align: center;
}
.flags-counter,
.lives {
  font-size: 1.4rem;
  margin: 10px 0 5px 0;
}
.board-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
table,
.cell {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 10px;
  padding: none;
}
.cell {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 1.5em;
  background-color: rgb(190, 190, 190);
}
.cell-cover {
  background-color: rgb(85, 83, 83);
  box-shadow: inset -2px -2px 2px 1px #343434;
}
.red {
  background-color: red;
}
